/* RESET */
*{
    margin: 0;
    padding: 0;
    font-size: 100%;
    border: none;
    outline: none;
    font-weight: 300;
    box-sizing: border-box;    
}

body {
    background-color: white;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}
/* ========= TAMANHO FONTES ==========  */

.fonteMaior {
	font-size: 28px;
}
.fontemenor {
	font-size: 22px;
}

/* ========= CORES ==========  */

.corTexto {
	color: #7b5fe2;
}
.corBranca {
	color: white;
}

/* ========= DISPLAY ==========  */
.block {
	display: block;
}
.inline-block {
	display: inline-block;
}

/* ========= TEXTO ==========  */

.centralizado {
	text-align: center;
}
.justificado {
	text-align: justify;
}

/* ========= TAMANHO 100 ==========  */

.tamanhoMax {
	width: 100%;
}


/* Contatos */

.contatos {
	background-color: black;
	height:22px;
	padding-top: 0.5%;			
}
.contatos a {
	margin: 0% 2% 0 0;
	padding-left: 3%;
	color: rgb(171, 109, 207);
}
.nosso-contato{
	width: 40%;
	float: left;
}
.local{	
	width: 30%;
	float: right;
}

/* Logo */

.div-logo {
	height: 150px;
	background-image: linear-gradient(to right, #768ed8, #7b5fe2);
}
.logo img {
	transform:translateX(50%) translateY(15%);
}
.redes-sociais i {
	position: relative;
	left: 68%;
	padding-right: 2%;
	padding-top: 8px;
}

/* MENUS */

.link-menus ul {
	border-bottom:1px solid rgba(0, 0, 0, 0.2);
}
.link-menus li {	
	font-size: 27px;
	text-transform: uppercase;
	border:1px solid rgba(0, 0, 0, 0.2);
	border-left: none;
	border-right: none;
	line-height: 80px;	
}

.link-menus a:hover {
	color: #7b5fe2
} 
 

.link-menus li:hover{
	color:black;
	border:1px solid #7b5fe2;
	border-left: none;
	border-right: none;
	background-image: linear-gradient(to right, #dfdceb,#a6b5e4);	
}

/* CARROSSEL */

.slide {
	margin: auto;
	position: relative;
	
}
.slide li {
	list-style: none;
	position: absolute;
}


.slide img {
	margin: auto;
	width: 100%;
	vertical-align: top;

}
.slide input {
	display: none;
}
.slide label {
	background-color: white;
	border: 2px solid black;
	position: absolute;
	bottom: 30px;
	cursor: pointer;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	margin-left: 46%;
	z-index: 10;	
	
}
.slide li:nth-child(1) label {
	left: 10px;
}
.slide li:nth-child(2) label {
	left: 50px;
}
.slide li:nth-child(3) label {
	left: 90px;
}

.slide img {
	opacity: 0;
	visibility: hidden;
	
}
.slide li input:checked ~ img{
	opacity:1;
	visibility: visible;
	z-index: 10;	
	transition-duration: 1s;
}

/* Texto Principal */
main{
	margin-top: 120%;
}

.texto-principal{
	margin: auto;
	width: 90%;
}

.texto-principal h1{
	text-transform: uppercase;
	
}

.paragrafo-principal {
	color: #1d1a1a;		
}
.imagem-texto img {
	transform: translateX(70%);
	box-shadow: 2px 5px 8px black;
	border-radius: 20px;
}
.imagem-texto{
	padding: 30px;
}
.paragrafo-bloco-texto {	
	color: #1d1a1a;	
}
h3 {
	margin-top:5px;
	font-weight: normal;
}

/* TEXTO SECUNDÁRIO */

.texto_secundáro {
	background-color: #eeeeee;
	width:100%;	
}

.div_do_texto_secundáro {
	vertical-align: top;
	height: 450px;
	border: 1px solid black;
	margin:20px 5px 10px 5px ;
	width: 97%;
}


.div_do_texto_secundáro img{
	width: 90%;
	height: 50%;
	margin: 15px;
}

.div_do_texto_secundáro .titulo{	
	font-size: 25px;
	margin-bottom: 15px;
	text-indent:7px;
}

.div_do_texto_secundáro .corpo{
	margin-left: 5px;
	margin-right: 5px;	
}

.seta::before {
	content:'';
	width: 100%;
	display: inline-block;
	height: 52px;
	background: #ffffff;
	background-image: url("../imagens/setinha.png");
	background-repeat: no-repeat;
	background-position: center;
}

/* Footer */

.rodape {
	background-color: #4d504d;	
}

.div-rodape {
	width: 300px;
	height: 220px;	
	margin: 10px;
	vertical-align: top;	
	font-size: 15px;	
}
.div-rodape P{
	margin-left: 5px;	
}

.div-rodape h3 {
	margin-bottom: 15px;
}
.popular-post p {
	padding-bottom: 15px;
}

.get p {
	padding-bottom: 15px;
}
.clock::before{
	content: "";
	width: 15px;
	height:15px;
	display: inline-block;
	background-image: url("../imagens/clock.png");
	float: left;
	background-repeat: no-repeat;
	padding-left: 15px;
}

.locais::before, #github::before{
	content: "";
	width: 17px;
	height: 24px;
	display: inline-block;
	float: left;
	background-repeat: no-repeat;
	padding-left: 5px;
}

.locais::before {
	background-image: url("../imagens/local.png");
}

#github::before{
	background-image: url("../imagens/ico-github.png");
}
#github a:visited {
	color: white;
}

#footer-2 {
	height:80px;
	background-image: url("../imagens/footer2.png");
	color: #bfbfbf;
}

#paragrafo-footer2 {
	padding-top: 18px;
}


