@charset "UTF-8";
/*Imagem de Khusen Rustamov por Pixabay */

*{
	margin: 0px;
	padding: 0px;
}

body{
	width: 100%;
	height:100%;
	margin: 0 auto;	
	
}
header {
	width: 100%;
	height: 220px;
	
}




/* Div Contatos - telefone*/
.informações{
	box-sizing: border-box;
	width:100%;
	height:15px;
	background-color: black;
	font-size:15px;
	color: white;
	font-family: 'Times New Roman', Times, serif;	
}
.contatos {
	float: left;
	width: 8%;
	height:100%;	
	margin-left: 40px;
}
.contatos figure {
	height:100%;
	float: left;	
}
.contatos figure img {
	height:100%;
}
.contatos p{
	height:100%;
	float: right;
}


/* Div Contatos - mapa*/
.mapa {
	width: 4%;		
}
.mapa  p a {
	color: white;
	text-decoration: none	;
}
.mapa  p a:visited {
	color: white;
}


/* HEADER - Logos*/
.logo {
	width: 100%;
	height:56%;
	background-color: #dfe5f7;
	background-image: linear-gradient(to right, #768ed8, #7b5fe2);
}

.img-logo{	
	float: left;		
}

.vampiro-logo {
	margin-left:120px;
	margin-top: 2%;
}

.redes-sociais ul li {
	display: inline-block;
	margin-left:20px;
		
}
.redes-sociais {
	width:18%;
	float: right;
	position: relative;
	right: 15%;
	margin-top:30px;
}

.redes-sociais ul #tel{
	position: relative;
	left: 20px;
}

/* HEADER - Menus*/

.menus{
	background-color: white;
	width: 100%;
	height: 36%;
	border-bottom: 5px solid #efefef;
	font-size: 18px;
	color:#8b8b8b;
	font-weight: 300;
}
a:visited{
	color:#8b8b8b;
}
.link-menus a:hover{	
	color: #5499f3;	
	
}
.link-menus li:hover{	
	border-bottom: 2px solid #5499f3;
	padding-bottom: 2%;
	height: 70%;	
}
.link-menus{
	width:980px;
	margin: 0 auto;
	margin-left: 1%;
	padding-top: 20px;
	
}

.link-menus ul li {
	display: inline-block;
	margin-left: 7%;
	margin-right:2%;	
}
.link-menus ul li a{
	text-decoration: none;
	text-transform: uppercase;
}
.link-menus ul {
	padding:1.5% 0 1.5% 0;	
}


/* BODY - SLIDE */
.carrossel{
	display: block;
}
.slide {
	display: block;
	margin: auto;
	position: relative;
	
}
.slide li {
	list-style: none;
	position: absolute;

}
.slide img {
	margin: auto;
	width: 100%;
	vertical-align: top;

}
.slide input {
	display: none;
}
.slide label {
	background-color: white;
	border: 2px solid black;
	position: absolute;
	bottom: 30px;
	cursor: pointer;
	display: block;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	display: block;
	margin-left:45%;	
	z-index: 10;	
	
}
.slide li:nth-child(1) label {
	left: 10px;
}
.slide li:nth-child(2) label {
	left: 50px;
}
.slide li:nth-child(3) label {
	left: 90px;
}

.slide img {
	opacity: 0;
	visibility: hidden;
	
}
.slide li input:checked ~ img{
	opacity:1;
	visibility: visible;
	z-index: 10;	
	transition-duration: 1s;
}

/* Bloco Texto*/

main{
	position: absolute;
	top: 105%;
	width:100%;
}
.texto-principal{
	margin: auto;
	width: 80%;
}

.texto-principal h1{
	text-align: center;
	text-transform: uppercase;
	font-size: 30px;
	color: #7b5fe2;
}

.paragrafo-principal {
	text-align: center;
	font-size: 15px;
	color: #1d1a1a;
	margin-left: 20px;
	margin-top: 15px;	
}
.texto-principal h3 {
	text-align: center;
}

.imagem-texto {
	padding-left: 35px;
    padding-right: 20px;
    width: 27%;
	display: inline-block;
	margin-top: 40px;	
   
}

.imagem-texto img {
	transform: translateX(70%);
	box-shadow: 2px 5px 8px black;
	border-radius: 20px;
}
.paragrafo-bloco-texto {
	text-align: justify;
	color: #1d1a1a;
	margin-top: 15px;
}
h3 {
	margin-top:5px;
	font-weight: normal;
	color: #7b5fe2;
}
.imagem-abaixo{	
	position: relative;
	top: 70px;
	
}

