@media screen and (max-width:1350px) {
    .contatos {
        width: 10%;
       
    }
    .mapa {
        width: 5%;		
    }
    
}

@media screen and (max-width:1220px) {
    .contatos {
        width: 13%;
       
    }
    .mapa {
        width: 7%;		
    }
    .contatos p{
        font-size: 12px;
       
    }

    .imagem-abaixo{	
        position: relative;
        top: 200px;	
    }

    .imagem-texto img {
        transform: translateX(45%);
        box-shadow: 2px 5px 8px black;
        border-radius: 20px;
    }
    .imagem_texto_secundáro {
        width:30%;
        transform: translateX(-15%);              
    }
    .imagem_texto_secundáro img{
        width:90%;      
        
    }


    #quadro {
       position: relative;
       right: 50px;
       padding: 0px;     
       
    }
    #anime {
        position: relative;
        left: 100px;        
        
     }
     main{        
        top: 620px;        
    }
    footer{
        top: 2150px;
    }
    
        
}

@media screen and (max-width:1002px) { 
    .texto-principal{
        width: 100%;
    }
    .imagem-texto img {
        transform: translateX(70%);
        
    }   
    
}

@media screen and (min-width:1374px) and (max-width:1460px) { 
    .imagem_texto_secundáro {       
        transform: translateX(-20%); 
        margin-left: 50px;   
                 
    }
    
}

@media screen and (min-width:1461px) and (max-width:1920px) { 
    .imagem_texto_secundáro {       
        transform: translateX(10%); 
        margin-left: 80px;   
                 
    }
    
    .texto-principal{
        transform: translateX(8%); 
    }
    .div-rodape{
        margin-left: 100px;
    }
}



        

    



